@mixin screen-size($type) {
  @if $type == 'mobile' {
    @media only screen and (max-width: 420px) {
      @content;
    }
  } @else if $type == 'tablet' {
    @media only screen and (min-width: 420px) and (max-width: 768px) {
      @content;
    }
  } @else if $type == 'desktop' {
    @media only screen and (min-width: 1200px) {
      @content;
    }
  } @else {
    @error "Invalid screen size type provided. Please provide 'mobile', 'tablet', or 'desktop'";
  }
}

h1, h2, h3, h4, p, a {
  font-family: Raleway, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  position: relative;
  max-width: 1690px;
  width: 100%;
  margin: 100px auto;
  padding: 0 15px;
}


.company-card__wrap {
  margin-bottom: 50px;
}

.company-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 40px;
  margin: 0 auto;

  position: relative;
  max-width: 1200px;
  width: 100%;
}

.company-card:not(:last-child) {
}

.company-card {
  max-width: 315px;
  width: 100%;
  padding: 30px;
  border: 1px solid #D8D8D8;
  border-radius: 15px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  margin-bottom: 20px;
  margin-right: 20px;

  @include screen-size('mobile') {
    margin-right: 0px;
  }

  @include screen-size('tablet') {
    margin-right: 0px;
  }

}

.company-card:hover {
  background: #232325;
}

.company-card:hover * {
  color: #ffffff;
}

.company-card:hover .company-card__point, .company-card:hover .company-card__get {
  background: #039BE5;
  border: 2px solid #039BE5;
}

.company-card:hover .company-card__ico {
  fill: #fff;
}

.company-card:hover .like-ico {
  fill: #039BE5;
}

.company-card__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  margin-bottom: 60px;
}

.company-card__header::after {
  content: "";
  position: absolute;
  bottom: -30px;
  left: 0;
  width: 100%;
  height: 1px;
  background: #D8D8D8;
}

.company-card__img {
  width: 60px;
  height: 60px;
  margin-right: 10px;
}

.company-card__img img {
  max-width: 60px;
  height: 60px;
}

.company-card__title {
  padding-bottom: 3px;
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;
  color: #232325;
}

.company-card__subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #232325;
}

.company-card__rating {
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.company-card__rating p {
  padding-left: 5px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  -webkit-font-feature-settings: "lnum";
  font-feature-settings: "lnum";
  color: #232325;
}

.company-card__body {
  margin-bottom: 42px;
}

.company-card__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.company-card__row:not(:last-child) {
  margin-bottom: 20px;
}

.company-card__left {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #232325;
}

.company-card__right {
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  text-align: right;
  -webkit-font-feature-settings: "lnum";
  font-feature-settings: "lnum";
  color: #232325;
}

.company-card__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: row;
  -ms-flex-pack: row;
  justify-content: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.company-card__find {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 32px;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  -webkit-text-decoration-line: underline;
  text-decoration-line: underline;
  color: #232325;
}

.company-card__find svg {
  margin-right: 10px;
}

.company-card__point {
  margin-right: 10px;
  padding: 11px 11px;
  border: 2px solid #232325;
  border-radius: 5px;
}

.company-card__ico {
  fill: #000;
}

.like-ico {
  fill: #232325;
}

.company-card__get {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  padding: 15px 5px;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  text-decoration: none;
  border: 2px solid #232325;
  border-radius: 5px;
  color: #232325;

  @include screen-size('mobile') {
    background: #039BE5;
    color: white;
    border: none;
  }

  @include screen-size('tablet') {
    background: #039BE5;
    color: white;
    border: none;
  }
}
