<div>
  <div>
    <div class="company-cards">
      <div class="company-card" *ngFor="let offer of firstPortionOffers; let i = index">
        <div class="company-card__header">
          <div class="company-card__img">
            <img [src]="offer.shortPicUrl" alt=""/>
          </div>
          <div class="company-card__inner">
            <h4 class="company-card__title">{{ offer.name }}</h4>
            <p class="company-card__subtitle">Займ онлайн</p>
          </div>
        </div>
        <div class="company-card__body" [ngClass]="shown[i] ? 'shown' : 'hidden'">
          <div class="company-card__row">
            <p class="company-card__left">Сумма</p>
            <p class="company-card__right">{{ offer.minSum }} — {{ offer.maxSum }} ₽</p>
          </div>
          <div class="company-card__row">
            <p class="company-card__left">Срок</p>
            <p class="company-card__right">{{ offer.minDays }} — {{ offer.maxDays }} дн.</p>
          </div>
          <div class="company-card__row">
            <p class="company-card__left">Ставка</p>
            <p class="company-card__right">от {{ offer.minBid }}</p>
          </div>
          <div class="company-card__footer">
            <a [href]="offer.offerUrl" target="_blank" class="company-card__get">Получить деньги</a>
          </div>
        </div>

        <div (click)="changeState(i)" class="company-card__more" [ngClass]="isMobile() ? 'hidden' : 'shown'">
          <div class="more-arrow" [ngClass]="(shown[i] ? 'rotated' : '')"></div>
          <a target="_blank">{{ (shown[i] ? 'Закрыть' : 'Узнать больше') }}</a>
        </div>
      </div>
    </div>
  </div>
  <app-monthly-offers class="monthly-offers"></app-monthly-offers>
  <div>
    <div class="company-cards">
      <div class="company-card" *ngFor="let offer of secondPortionOffers">
        <div class="company-card__header">
          <div class="company-card__img">
            <img [src]="offer.shortPicUrl" alt=""/>
          </div>
          <div class="company-card__inner">
            <h4 class="company-card__title">{{ offer.name }}</h4>
            <p class="company-card__subtitle">Займ онлайн</p>
          </div>
        </div>
        <div class="company-card__body">
          <div class="company-card__row">
            <p class="company-card__left">Сумма</p>
            <p class="company-card__right">{{ offer.minSum }} — {{ offer.maxSum }} ₽</p>
          </div>
          <div class="company-card__row">
            <p class="company-card__left">Срок</p>
            <p class="company-card__right">{{ offer.minDays }} — {{ offer.maxDays }} дн.</p>
          </div>
          <div class="company-card__row">
            <p class="company-card__left">Ставка</p>
            <p class="company-card__right">от {{ offer.minBid }}</p>
          </div>

        </div>

        <div class="company-card__footer">
          <a [href]="offer.offerUrl" target="_blank" class="company-card__get">Получить деньги</a>
        </div>
      </div>

    </div>
  </div>
</div>
