<main class="main">
  <div class="container">
    <div class="main-text">
      <h1 class="main-title">Займ на карту в <span>Краснодаре</span></h1>
      <p class="main-subtitle">Предлагаем огромный выбор онлайн займов на карту в 83 компаниях. В каталоге 202 абсолютно
        разных предложения со ставками от 0%. На 10.01.2023 доступно 83 МФО, информация по условиям и ставкам указана в
        каталоге.</p>
    </div>
    <div class="main-wrap">
      <app-hero-slider *ngIf="isMoreOffers"></app-hero-slider>
    </div>
    <app-main-search></app-main-search>
  </div>
</main>
