<section class="place">

  <h2 class="place-title">Получить займ на<span class="bg"> на карту быстро.</span></h2>
  <h3 class="recomendation-header">Рекомендация от MoneyMentor</h3>
  <div class="place-wrap">
    <div class="container">
      <table class="place-table">
        <thead class="place-table__head">
        <tr>
          <th>Компания</th>
          <th>Эффективная ставка</th>
          <th>Срок</th>
          <th>Сумма</th>
        </tr>
        </thead>
        <tbody class="place-table__body">
        <tr *ngFor="let row of tableData">
          <td> <a class="offer-link" [href]="row.offerUrl" target="_blank">{{ row.name }}</a> </td>
          <td> {{ row.minBid }}</td>
          <td> {{ row.minDays }} — {{ row.maxDays }} дн.</td>
          <td> {{ row.minSum }} — {{ row.maxSum }} ₽</td>
        </tr>
        </tbody>
      </table>

    </div>
  </div>

</section>
