<section class="more">
  <div class="container">
    <mat-expansion-panel #panel [expanded]="true" (expandedChange)="checkExpand($event)" class="more-block"
                         [ngClass]="{'first-div': panel.expanded}">
      <mat-expansion-panel-header class="mat-expansion-panel-header-title">
        <mat-panel-title class="mat-title">
          <h2 class="panel-header">Быстрые займы на карту</h2>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p class="main-paragraph">
        Сегодня мы все реже пользуемся наличностью и все чаще банковской карточкой. Расплатиться ей можно практически в
        любом магазине, развлекательном центре, на автозаправке и в других местах. Однако бывает такое, что денег на
        карте нет, но в ближайшее время предстоят затраты. Здесь на помощь могут прийти микрофинансовые организации,
        которые готовы предоставить быстрые займы. Они быстро проверяют ваши персональные данные, и необходимые средства
        переводятся прямо на карту или выдаются наличными. Это очень удобно, а главное, оперативно.
      </p>
      <h3 class="paragraph-header">
        Займ прямо на карту
      </h3>
      <p class="simple-paragraph">На сегодняшний день, такая услуга предоставляется практически всеми микрофинансовыми
        организациями. Перевод
        осуществляется на указанную клиентом карту сразу после проверки. Удобство состоит в том, что вам не нужно никуда
        ехать, ведь оставить заявку и получить средства можно дистанционно через интернет.</p>
      <h3 class="paragraph-header">Как получить займ на свою банковскую карту?</h3>
      <p class="simple-paragraph">Для этого достаточно:</p>
      <ul>
        <li>Отправить в микрофинансовую организацию соответствующую заявку. Здесь потребуется указать свои паспортные
          данные, размер необходимого займа, номер банковской карты (куда будет выполнен перевод) и свои контактные
          данные для обратной связи.
        </li>
        <li>Дождаться рассмотрения заявки. Обычно на это уходит не более 10-20 минут.</li>
        <li>При положительном решении, получить деньги на указанную ранее карту.</li>
      </ul>
      <h3 class="paragraph-header">
        В каких микрофинансовых организациях можно получить займ?
      </h3>
      <p class="simple-paragraph">Сегодня наиболее известны:</p>
      <ul>
        <li>
          Займер
        </li>
        <li>
          Деньги на дом
        </li>
        <li>
          Webbankir
        </li>
        <li>
          Займ-Экспресс
        </li>
        <li>
          Лайм-Займ
        </li>
        <li>
          МигКредит
        </li>
        <li>
          MoneyMan
        </li>
        <li>
          Отличные наличные
        </li>
        <li>
          А ДЕНЬГИ и др.
        </li>
      </ul>
      <p class="simple-paragraph">Их преимущества состоят в том, что имеется возможность взять кредит со ставкой от 0%
        годовых. К тому же, новым
        клиентам часто предоставляются всевозможные бонусы.</p>


      <h3 class="paragraph-header">Плюсы получения займа на банковскую карту</h3>
      <p class="simple-paragraph">К микрокредитованию необходимо относиться серьезно и внимательно познакомиться с его
        сильными и слабыми
        сторонами. Если говорить о преимуществах, то стоит отметить:
      </p>
      <ul>
        <li>
          Быстрая проверка заявки и вынесение решения. Менее чем через 20 минут, вы получите ответ, который в
          большинстве случаев положительный.
        </li>
        <li>
          Деньги поступят на банковскую карту сразу после одобрения.
        </li>
        <li>
          Необязательно посещать отделение микрофинансовой организации. Достаточно просто оставить заявку через сайт.
          Все, что от вас требуется – это интернет и банковская карта для получения займа.
        </li>
        <li>
          Гибкие условия кредитования. Сделка максимально прозрачная и не содержит подводных камней. Вы заранее будете
          знать сроки выплат и размер переплаты.
        </li>
        <li>
          Хорошая возможность улучшить свою кредитную историю.
        </li>
        <li>
          Для подачи заявки и оформления займа, нужен только паспорт.
        </li>
        <li>
          Не требуется вносить залог и искать поручителей.
        </li>
        <li>
          Анкету можно заполнить всего за несколько минут.
        </li>
        <li>
          Понятная схема погашения задолженности. Особенно это касается краткосрочных займов, где погашение
          осуществляется одним платежом.
        </li>
      </ul>
    </mat-expansion-panel>
    <mat-expansion-panel #panel1 [expanded]="false" (expandedChange)="checkExpand($event)" class="more-block"
                         [ngClass]="{'first-div': panel1.expanded}">
      <mat-expansion-panel-header class="mat-expansion-panel-header-title">
        <mat-panel-title class="mat-title">
          <h2 class="paragraph-header">Что такое займ?</h2>
        </mat-panel-title>
      </mat-expansion-panel-header>

      <p class="simple-paragraph">Быстрый займ на банковскую карту – это своего рода кредит, который выдается
        микрофинансовой организацией, а не
        банком. Именно поэтому получить его значительно проще. Требования к заемщикам у МФО не столь строгие, поэтому и
        процент отказов минимальный. Сами же средства могут быть перечислены не только на банковскую карту, но и на
        банковские счета, электронные кошельки или платежные системы.</p>
      <p class="simple-paragraph">Сходство с банковским кредитом заключается в том, что вам будут начисляться проценты
        за пользование средствами,
        и необходимо будет вносить платежи по установленному графику. Также составляется договор, в котором прописаны
        все важные моменты. Если заемщик своевременно не вносит установленные платежи, то может образоваться
        неустойка.</p>
      <p class="simple-paragraph">Чем отличаются займы на банковскую карту от банковских кредитов?</p>
      <ul>
        <li>Большое количество различных предложений, поэтому подобрать оптимальное не составит особого труда.</li>
        <li>Низкая вероятность отказа. Даже если кредитная история сильно подпорчена, человек все равно имеет
          возможность получить необходимый займ. Банки же очень строго следят за историей и гарантированно откажут, если
          ранее имелись просрочки.
        </li>
        <li>
          Возможность взять небольшую сумму на короткий промежуток времени. Это очень удобно, когда деньги нужны до
          зарплаты и т.п.
        </li>
        <li>
          Дистанционное оформление займа. Достаточно зайти на сайт МФО, выбрать подходящий вариант займа и оформить
          заявку. Уже через 15-20 минут поступит решение. Если оно положительное, то деньги сразу же направят на вашу
          банковскую карту. Это быстро и не нужно никуда ездить, как в случае с банками.
        </li>
      </ul>
      <p class="simple-paragraph">
        Сегодня микрофинансовые организации контролируются Центробанком РФ. По этой причине их работа должна
        соответствовать всем нормам законодательства в части кредитования физических и юридических лиц. Для клиентов это
        означает, что они не будут обмануты и кредит будет выдан на честных и прозрачных условиях. При этом, Центральный
        Банк готов будет встать на защиту клиента, если возникнет такая необходимость. Благодаря такому контролю со
        стороны государства, на рынке практически не осталось «черных» кредиторов.
      </p>
      <h3 class="paragraph-header">Где получить займ на банковскую карту?</h3>
      <p class="simple-paragraph">Подобные услуги предоставляют следующие МФО:</p>
      <ul>
        <li>
          Быстроденьги
        </li>
        <li>
          Турбозайм
        </li>
        <li>
          Отличные наличные
        </li>
        <li>
          Webbankir
        </li>
        <li>
          BelkaCredit
        </li>
        <li>
          Credit7
        </li>
        <li>
          Mobicredit
        </li>
      </ul>
      <p class="simple-paragraph">
        Ставка при этом начинается от 0% и нет необходимости посещать офис, так как заявку можно подать дистанционно.
      </p>
    </mat-expansion-panel>
    <mat-expansion-panel #panel2 [expanded]="false" (expandedChange)="checkExpand($event)" class="more-block"
                         [ngClass]="{'first-div': panel2.expanded}">
      <mat-expansion-panel-header class="mat-expansion-panel-header-title">
        <mat-panel-title class="mat-title">
          <h2 class="paragraph-header">Какие имеются условия?</h2>
        </mat-panel-title>
      </mat-expansion-panel-header>

      <p class="simple-paragraph">
        Займ небольшой суммой на банковскую карту – это краткосрочный кредит. Поэтому финансовой организации особо не
        интересно, на какие цели вы его оформляете. В большинстве случаев, люди прибегают к подобной услуге, если деньги
        закончились, а до зарплаты еще несколько дней. Таким образом, займ позволяет решить небольшие финансовые
        проблемы. Вот какие условия действуют для получения займа:
      </p>
      <ul>
        <li>Сумма не превышает 30 000 рублей</li>
        <li>Срок кредитования от 1 до 30 дней</li>
        <li>Ставка не более 1%</li>
      </ul>
      <p class="simple-paragraph">В данном случае, задолженность погашается полностью одним платежом. Он будет состоять
        из взятой суммы и
        начисленных за пользование процентов. На таких тарифах часто действует и определенный беспроцентный период, что
        делает их весьма популярными среди населения. Но стоит учитывать, что при первом займе вам едва ли выдадут более
        15 000 рублей. А вот в дальнейшем для порядочных и пунктуальных клиентов, сумма может быть увеличена.</p>
      <p class="simple-paragraph">Также можно подать заявку и на долгосрочный займ. Его сроки могут составлять до 5 лет.
        Здесь уже можно
        рассчитывать на более крупную сумму, но и требования к заемщику будут несколько строже. Условия в большинстве
        случаев следующие:</p>
      <ul>
        <li>Сумма не превышает 1 млн. рублей, при этом может потребоваться залог. Если клиент обращается впервые, то
          может рассчитывать на 50-80 тысяч.
        </li>
        <li>Срок кредитования до нескольких лет. Платить необходимо по сформированному графику (раз в 2 недели или раз в
          месяц).
        </li>
      </ul>
      <p class="simple-paragraph">Очевидно, что долгосрочные тарифы куда более выгодные с точки зрения получаемой суммы
        и начисляемых процентов.
        Поэтому для получения такого займа, нужно иметь хорошую кредитную историю.</p>
      <p class="simple-paragraph">Теперь, что касается процентов. У микрофинансовых организаций они выше, чем в
        большинстве банков. Если раньше
        МФО могли выдавать займы под 1,5-2,5%, то со временем такие ставки запретили и ограничили их 1%. Это было
        сделано по инициативе Центробанка России, в целях обезопасить граждан от кабальных условий.
      </p>
      <p class="simple-paragraph">Иногда МФО выдает займ на банковскую карту вообще без процентов. Не стоит сразу
        думать, что это мошенничество.
        Вероятнее всего компания просто проводит акцию по привлечению клиентов и предлагает воспользоваться льготными
        условиями по кредитованию.
      </p>
      <p class="simple-paragraph">Вот особенности беспроцентных займов на банковскую карту:</p>
      <ul>
        <li>Предложение обычно действует для тех, кто берет займ впервые</li>
        <li>Сумма ограничена (как правило, это не более 10 000 рублей)</li>
        <li>В случае несвоевременного возврата долга, начинают начисляться проценты</li>
      </ul>
    </mat-expansion-panel>
    <mat-expansion-panel #panel3 [expanded]="false" (expandedChange)="checkExpand($event)" class="more-block"
                         [ngClass]="{'first-div': panel3.expanded}">
      <mat-expansion-panel-header class="mat-expansion-panel-header-title">
        <mat-panel-title class="mat-title">
          <h2 class="paragraph-header">Как получить деньги на карту?</h2>
        </mat-panel-title>
      </mat-expansion-panel-header>

      <p class="simple-paragraph">Займ может быть перечислен на карту любого российского банка, вне зависимости от того
        дебетовая она или
        кредитная. Но есть и определенные условия: карта должна быть именной и принадлежать заемщику.
      </p>
      <p class="simple-paragraph">
        Чаще всего, банковские карты работают с платежными системами MasterCard, Visa и МИР. Вне зависимости от того,
        какая у заемщика банковская карта, она в любом случае будет предварительно проверена. Для этого на стадии подачи
        заявки, необходимо указать данные карты.
      </p>
      <p class="simple-paragraph">Если же банковской карты не имеется, то можно осуществить перевод средств на
        электронный кошелек или получить
        деньги наличными в офисе микрофинансовой организации. Иногда наличные можно заказать с доставкой на дом, но
        такую услугу предлагают далеко не все МФО.
      </p>
      <p class="simple-paragraph">Желающим взять займ на банковскую карту, обязательно понадобится паспорт. Его данные
        прописываются в анкете. В
        отдельных случаях могут попросить отправить фотографию страниц паспорта или его скан. Нужно вводить
        исключительно актуальные паспортные данные (старый документ здесь не подойдет). Как правило, требования МФО к
        желающему получить кредит, следующие:
      </p>
      <ul>
        <li>Человек обязан быть гражданином Российской Федерации</li>
        <li>Должен быть зарегистрирован в России по месту своего жительства</li>
        <li>Быть совершеннолетним и не старше определенного возраста (обычно это 65 лет)</li>
        <li>Иметь доход, способный перекрыть образовавшуюся задолженность</li>
      </ul>
      <p class="simple-paragraph">Процедура оформления займа в микрофинансовой организации происходит следующим
        образом:</p>
      <ul>
        <li>Открываете список предложений. Если не знаете, где их искать, то можете воспользоваться сайтом Банки.ру.
          Просто указываете необходимые вам параметры и изучаете варианты. Здесь же можете воспользоваться
          онлайн-калькулятором и оценить выгоду каждого конкретного предложения
        </li>
        <li>Указываете необходимую вам сумму и срок кредитования</li>
        <li>Заполняете заявку. Здесь потребуется прописать свои паспортные, контактные и персональные данные. Также
          нужно указать платежные реквизиты и информацию о доходах
        </li>
        <li>Отправить электронную заявку. Процедура проверки обычно занимает не более 15-20 минут</li>
        <li>Дождаться положительного решения. Внимательно ознакомьтесь с предложенными условиями</li>
        <li>Теперь остается согласиться на заключение сделки и получить сумму на счет своей банковской карты</li>
      </ul>
      <p class="simple-paragraph">
        Далее, вы можете распоряжаться средствами так, как считаете нужным. Например, оплачивать покупки, снимать
        наличные в банкомате, пересылать по другим реквизитам и т.д. МФО не станет отслеживать дальнейшую судьбу
        средств.
      </p>
    </mat-expansion-panel>
  </div>
</section>
