input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

@mixin screen-size($type) {
  @if $type == 'mobile' {
    @media only screen and (max-width: 420px) {
      @content;
    }
  } @else if $type == 'tablet' {
    @media only screen and (min-width: 420px) and (max-width: 768px) {
      @content;
    }
  } @else if $type == 'desktop' {
    @media only screen and (min-width: 1200px) {
      @content;
    }
  } @else {
    @error "Invalid screen size type provided. Please provide 'mobile', 'tablet', or 'desktop'";
  }
}

input[type=number] {
  -moz-appearance: textfield; /* Firefox */
}

.main-search {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.label-text {
  font-size: 30px;
  line-height: 1.17;
  font-family: Raleway, sans-serif;
  margin: 0;
}

.main-search__label {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  padding: 18px 18px 18px 25px;
  border: 1px solid #D8D8D8;
  border-radius: 15px;
  align-items: center;
}

.main-search__input {
  width: 90%;
  -webkit-box-flex: 1;
  flex-grow: 1;
  border: none;
  line-height: 21px;
  color: #232325;
  -webkit-font-feature-settings: "lnum";
  font-feature-settings: "lnum";
  margin-left: 10px;
  height: auto;
  font-size: 50px;
}

.main-search__input:focus {
  outline: none;
}

.main-search__link {
  padding: 25px;
  font-weight: 600;
  font-size: 22px;
  line-height: 26px;
  color: #FFFFFF;
  background: #232325;
  border-radius: 15px;
  text-decoration: none;
  -webkit-font-feature-settings: "lnum";
  font-feature-settings: "lnum";
  font-family: Raleway, sans-serif;
  display: flex;
  margin-top: 10px;
  justify-content: center;
  cursor: pointer;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
}

.link-mobile {
  width: fit-content;
  @include screen-size('tablet') {
    display: none;
  }

  @include screen-size('desktop') {
    display: none;
  }
}

.link-tablet-desktop {
  @include screen-size('mobile') {
    display: none;
  }
}
