<main class="main">
  <div class="container">
    <div class="main-text">
      <h1 class="main-title">Займ на карту в <span>вашем городе</span></h1>
      <p class="main-subtitle">Предлагаем огромный выбор онлайн займов на карту в {{offers.length}}компаниях. В каталоге {{offers.length}} абсолютно
        разных предложения со ставками от 0%. На текущий день доступно {{offers.length}} МФО, информация по условиям и ставкам указана в
        каталоге.</p>
    </div>
    <div class="main-wrap">
      <!-- <app-main-search></app-main-search> -->
    </div>
  </div>
</main>
