.main {
  position: relative;
  max-width: 1690px;
  width: 100%;
  margin: 100px auto;
}

.main-text {
  max-width: 713px;
  width: 100%;
  margin: 0 auto;
}

.main-title {
  font-weight: 700;
  font-size: 75px;
  line-height: 88px;
  text-align: center;
  color: #232325;
  font-family: Raleway, sans-serif;
}

.main-title span {
  position: relative;
}

.main-title span::after {
  content: "";
  position: absolute;
  bottom: -9px;
  left: 50%;
  width: 100%;
  height: 19px;
  background: url(./img/svg/main-line.svg) no-repeat center center;
  background-size: contain;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: -1;
}

.main-subtitle {
  font-family: Raleway, sans-serif;
  margin-top: 35px;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #232325;
  -webkit-font-feature-settings: "lnum";
  font-feature-settings: "lnum";
}

.main-wrap {
  margin-top: 100px;
}
