<section class="reviews">
    <div class="container">
        <h2 class="reviews-title">Отзывы о <span>МФО</span></h2>
        <div class="reviews-wrap">

            <div class="swiper mySwiper">
                <swiper [centeredSlides]="false" [initialSlide]="1" [loop]="true" [navigation]="true"
                    class="swiper-wrapper">
                    <ng-template swiperSlide class="reviews-card swiper-slide">
                        <div class="reviews-card__header">
                            <div class="reviews-card__wrap">
                                <h4 class="reviews-card__title">Не жалею что обратился</h4>
                                <div class="reviews-card__inner">
                                    <p class="reviews-card__rating--text">Оценка</p>
                                    <p class="reviews-card__rating--num">5</p>
                                    <p class="reviews-card__rating--text">Проверяется</p>
                                </div>
                            </div>
                            <div class="reviews-card__img">
                                <img src="/assets/img/reviews-logo.png" alt=""
                                    srcset="/assets/img/reviews-logo.png 2x" />
                            </div>
                        </div>
                        <div class="reviews-card__body">
                            <p class="reviews-card__text">Запасы быстро кончились. Пришлось задуматься о кредите, но
                                банки отказывают-плохая кредитная история. Выручил Mеня</p>
                            <a href="#" class="reviews-card__more--btn">Читать далее</a>
                        </div>
                        <div class="reviews-card__footer">
                            <p class="reviews-card__date">12.01.2023</p>
                            <a href="#" class="reviews-card__offer--btn">Займы</a>
                        </div>
                    </ng-template>
                    <ng-template swiperSlide class="reviews-card swiper-slide">
                        <div class="reviews-card__header">
                            <div class="reviews-card__wrap">
                                <h4 class="reviews-card__title">Не жалею что обратился</h4>
                                <div class="reviews-card__inner">
                                    <p class="reviews-card__rating--text">Оценка</p>
                                    <p class="reviews-card__rating--num">5</p>
                                    <p class="reviews-card__rating--text">Проверяется</p>
                                </div>
                            </div>
                            <div class="reviews-card__img">
                                <img src="/assets/img/reviews-logo.png" alt=""
                                    srcset="/assets/img/reviews-logo.png 2x" />
                            </div>
                        </div>
                        <div class="reviews-card__body">
                            <p class="reviews-card__text">Запасы быстро кончились. Пришлось задуматься о кредите, но
                                банки отказывают-плохая кредитная история. Выручил Mеня</p>
                            <a href="#" class="reviews-card__more--btn">Читать далее</a>
                        </div>
                        <div class="reviews-card__footer">
                            <p class="reviews-card__date">12.01.2023</p>
                            <a href="#" class="reviews-card__offer--btn">Займы</a>
                        </div>
                    </ng-template>

                    <ng-template swiperSlide class="reviews-card swiper-slide">
                        <div class="reviews-card__header">
                            <div class="reviews-card__wrap">
                                <h4 class="reviews-card__title">Не жалею что обратился</h4>
                                <div class="reviews-card__inner">
                                    <p class="reviews-card__rating--text">Оценка</p>
                                    <p class="reviews-card__rating--num">5</p>
                                    <p class="reviews-card__rating--text">Проверяется</p>
                                </div>
                            </div>
                            <div class="reviews-card__img">
                                <img src="/assets/img/reviews-logo.png" alt=""
                                    srcset="/assets/img/reviews-logo.png 2x" />
                            </div>
                        </div>
                        <div class="reviews-card__body">
                            <p class="reviews-card__text">Запасы быстро кончились. Пришлось задуматься о кредите, но
                                банки отказывают-плохая кредитная история. Выручил Mеня</p>
                            <a href="#" class="reviews-card__more--btn">Читать далее</a>
                        </div>
                        <div class="reviews-card__footer">
                            <p class="reviews-card__date">12.01.2023</p>
                            <a href="#" class="reviews-card__offer--btn">Займы</a>
                        </div>
                    </ng-template>

                    <ng-template swiperSlide class="reviews-card swiper-slide">
                        <div class="reviews-card__header">
                            <div class="reviews-card__wrap">
                                <h4 class="reviews-card__title">Не жалею что обратился</h4>
                                <div class="reviews-card__inner">
                                    <p class="reviews-card__rating--text">Оценка</p>
                                    <p class="reviews-card__rating--num">5</p>
                                    <p class="reviews-card__rating--text">Проверяется</p>
                                </div>
                            </div>
                            <div class="reviews-card__img">
                                <img src="/assets/img/reviews-logo.png" alt=""
                                    srcset="/assets/img/reviews-logo.png 2x" />
                            </div>
                        </div>
                        <div class="reviews-card__body">
                            <p class="reviews-card__text">Запасы быстро кончились. Пришлось задуматься о кредите, но
                                банки отказывают-плохая кредитная история. Выручил Mеня</p>
                            <a href="#" class="reviews-card__more--btn">Читать далее</a>
                        </div>
                        <div class="reviews-card__footer">
                            <p class="reviews-card__date">12.01.2023</p>
                            <a href="#" class="reviews-card__offer--btn">Займы</a>
                        </div>
                    </ng-template>


                </swiper>
            </div>
            <div class="reviews-button__wrap">
                <div class="reviews-button__inner">
                    <div class="reviews-button-prev"><img src="/assets/img/svg/arrow-rev--l.svg" alt=""></div>
                    <div class="reviews-button-next"><img src="/assets/img/svg/arrow-rev--r.svg" alt=""></div>
                </div>
                <div class="reviews-link__inner">
                    <a href="#" class="reviews-link">Все отзывы</a>
                    <a href="#" class="reviews-link">Оставить отзыв</a>
                </div>
            </div>
        </div>
    </div>
</section>